<head>
  <script type="text/javascript" src="/logs/jquery-1.7.2.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-responsive.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script rel="stylesheet" type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/logs/jquery.notification.js"></script>
  <script type="text/javascript" src="/logs/client.js"></script>
  <script type="text/javascript" src="/jquery.highlight-3.js"></script>
</head>
