<html>
  {{partial "head"}}
  <body>
    {{partial "menu"}}
    <div class="container">
      <form action="/setting/save" class="well form-horizontal" method="POST">
        <fieldset>
          <div class="control-group">
            <label class="control-label">
              Target Log files
            </label>
            {{partial({name:"targets",values:targets}) "setting/_textarea"}}
          </div>

          <div class="control-group">
            <label class="control-label">
              Highlight Keywords
            </label>
            {{partial({name:"highlight_keywords",values:highlight_keywords}) "setting/_textarea"}}
          </div>

          <div class="control-group">
            <label class="control-label">
              Ignore Keywords
            </label>
            {{partial({name:"ignore_keywords",values:ignore_keywords}) "setting/_textarea"}}
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary" >
              Save
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
  <style
</html>
