<html>
  {{partial "head"}}
  <body>
    {{partial "menu"}}
    <div class="container">
      <form action="/setting/save" class="well form-horizontal" method="POST">
        <fieldset>
          <div class="control-group">
            <label class="control-label">
              Target Log files
            </label>
            <textarea name="targets" class="input-xxlarge" rows="10">${targets}</textarea>
          </div>

          <div class="control-group">
            <label class="control-label">
              Highlight Keywords
            </label>
            <textarea name="highlight_keywords" class="input-xxlarge" rows="10">${highlight_keywords}</textarea>
          </div>

          <div class="control-group">
            <label class="control-label">
              Ignore Keywords
            </label>
            <textarea name="ignore_keywords" class="input-xxlarge" rows="10">${ignore_keywords}</textarea>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary" >
              Save
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
